<div class="main">
  <!-- ***** Welcome Area Start ***** -->
  <section id="home" class="section welcome-area bg-overlay overflow-hidden d-flex align-items-center">
    <div class="container">
      <div class="row align-items-center">
        <!-- Welcome Intro Start -->

        <div class="col-12 col-md-6  mt-4 mt-md-0">
          <div class="welcome-intro">
            <h1 class="text-black">
              <a class="navbar-brand" href="index.html">
                <img class="navbar-brand-regular" src="assets/img/logo/logo-white.png" alt="brand-logo">
              </a>
              Now Push</h1>
            <p class="text-black my-4">bridging the gap between your phone, tablet and computer.</p>
            <p class="text-black my-4">The beta download links are below</p>
            <!-- Store Buttons -->
            <div class="button-group store-buttons d-flex">
              <a href="https://testflight.apple.com/join/aVQGNXME">
                <img src="assets/img/icon/app-store-black.png" alt="">
              </a>
              <a href="https://play.google.com/apps/testing/com.graemerycyk.nowpush">
                <img src="assets/img/icon/google-play-black.png" alt="">
              </a>
            </div>
            <div class="button-group store-buttons d-flex">
              <a href="https://chrome.google.com/webstore/detail/now-push/ppaocoljfgdonbokpcikldnkbgojaaep">
                <img src="assets/img/icon/chrome-store.png" alt="">
              </a>
              <a href="https://addons.mozilla.org/en-US/firefox/addon/now-push/">
                <img src="assets/img/icon/firefox-addon.png" alt="">
              </a>
            </div>
            <span class="d-inline-block text-black fw-3 font-italic mt-3">Now Push is available on iOS, iPadOS, Android,
              Google Chrome, Microsoft Edge, and Mozilla Firefox, you can still sign up for it <a
                href="http://eepurl.com/g0Zmff">HERE</a></span>
          </div>
        </div>
        <div class="col-12 col-md-6 mt-4 mt-md-0">
          <!-- Single Price Plan -->
          <div class="single-price-plan text-center p-5 wow fadeInRight" data-aos-duration="2s" data-wow-delay="0.4s">
            <!-- Plan Thumb -->
            <div class="plan-thumb">
              <img class="avatar-lg" src="assets/img/pricing/premium.png" alt="">
            </div>
            <!-- Plan Title -->
            <div class="plan-title my-2 my-sm-3">
              <h3 class="text-uppercase">Pro</h3>
            </div>
            <!-- Plan Description -->
            <div class="plan-description">
              <ul class="plan-features">
                <li class="border-top py-3">End to End Encryption</li>
                <li class="border-top py-3">Unlimited Devices</li>
                <li class="border-top py-3">Unlimited Public & Private Threads</li>
                <li class="border-top py-3">Remind Me Scheduling Notifications</li>
                <li class="border-top border-bottom py-3">Up to 1GB File Sharing</li>
                <li class="border-top border-bottom py-3">Universal Copy Paste</li>
              </ul>
            </div>
            <!-- Plan Button -->
            <div class="plan-button">
              <!-- <a href="#" class="btn btn-info mt-4" (click)="pay(24)">
                <h3 class="color-primary">Pay <small class="fw-7">€</small>24</h3>
              </a> -->
              <button type="button" class="btn btn-info mt-4" data-toggle="modal" data-target="#myModal">
                <h3 class="color-primary">Pay <small class="fw-7">€</small>24</h3>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Welcome Area End ***** -->

  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Enter Register Email</h4>
          <button type="button" class="close"  data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <input type="email" class="form-control" name="userEmail" [(ngModel)]="userEmail" placeholder="Enter Your Register Email id"
          (blur)="checkregister(userEmail)">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Download Area Start ***** -->
  <section class="section download-area overlay-dark">
    <!-- Footer Bottom -->
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!-- Copyright Area -->
            <div
              class="copyright-area d-flex flex-wrap justify-content-center justify-content-sm-between text-center py-4">
              <!-- Copyright Left -->
              <div class="copyright-left text-white">&copy; 2020 Work Anywhere. All Rights Reserved. <a
                  class="copyright-left text-white" href="privacy-policy.html">Privacy Policy</a></div>
              <!-- Copyright Right -->
              <div class="copyright-right text-white">Made with <i class="fas fa-heart"></i> in Antwerp, Belgium</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Download Area End ***** -->
</div>